@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600|Open+Sans+Condensed:300,700|Roboto:100i,400,700i,900&display=swap");
@import url("components/container.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");






body {
	font-family: 'montserrat', sans-serif;
	font-size: 14px; 
	background-color: black;
	margin: 10px;
	font-weight: lighter;
	font-style: italic;
}

h1 
{ font-family: 'opensanscondensed', sans-serif; 
font-size: 70px;
font-weight: bold;
font-style: initial;
color: white;
}


h2 {
	font-family: 'montserrat', sans-serif;
	font-size: 30px;
	font-weight: 400;
	margin: 10px;
	font-style: initial;
	color: white;
}

h3 {
	font-family:'opensanscondensed', sans-serif;
	font-size: 20px;
	font-weight: lighter;
	margin-right: 400px;
	font-style: initial;
	color: white;

}
a { text-decoration: none; }

img {
	border-radius: 5px;
}

h4 {
	font-family: 'opensanscondensed', sans-serif;
	font-size: 25px;
	font-weight: lighter;
	flex-grow: 1;
	padding: 10px;
	font-style: initial;
	color: black;

	 }

p {
	color: white;
}