.card {

	width: 100px;
	height: 150px;
	border-radius: 5px;
	background-color: #F3CD59; 
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0px 10px 20px rgba(80,80,80);
	margin: 10px;
	flex-basis: 250px;
	flex-grow: 1;
	margin-top: 10px;
}

.cards {

margin: 20px;
	display: flex;
	flex-wrap: wrap;	
}